body {
  padding-top: 5rem;
}

.container-fluid {
  padding-top: 3.5rem ;
  padding-bottom: 3.5rem;
  text-align: center;
}

[class*="col"] {
  padding-top: 1rem;
  margin-left: 1px;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.row {
  margin-top: 1px;
}

